{% extends "template.html" %}
{% block titulo %}
    <p>Edición de persona</p>
{% endblock%}
{% block main %}
    <h1>Editar Persona:</h1>
    <form method="post" novalidate>
        {% csrf_token %}

    <div class="form-group">
        {{ form.first_name.label_tag }}
        {{ form.first_name }}
        <small class="text-danger">{{ form.first_name.errors }}</small>
    </div>
    <div class="form-group">
        {{ form.last_name.label_tag }}
        {{ form.last_name }}
        <small class="text-danger">{{ form.last_name.errors }}</small>
    </div>
    <div class="form-group">
        {{ form.birth_date.label_tag }}
        {{ form.birth_date }}
        <small class="text-danger">{{ form.birth_date.errors }}</small>
    </div>
    <div class="form-group">
        {{ form.person_id.label_tag }}
        {{ form.person_id }}
        <small class="text-danger">{{ form.person_id.errors }}</small>
    </div>

    <button class="btn btn-primary btn-pill mr-2" type="submit">Actualizar</button>

    </form>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
{% endblock %}