{% extends "template.html" %}
{% block titulo %}
    <p>Alta de Cliente - Selección Tipo de Cliente</p>
{% endblock%}
{% block menu %}
    <a href="{% url 'home' %}">Volver</a>
{% endblock  %}
{% block main %}
    <form method="post" novalidate>
        {% csrf_token %}
        <label>
            <input type="radio" name="customer_type" value="person" required> Persona
        </label>
        <label>
            <input type="radio" name="customer_type" value="company" required> Empresa
        </label>
        <button type="submit">Next</button>
    </form>
{% endblock %}