{% extends "template.html" %}
{% load static %}
{% block titulo %}
    <p>Edición de Tipo de Vehiculo</p>
{% endblock%}
{% block extra_files %}
    <link href="{% static 'plugins/DataTables/DataTables-1.10.18/css/jquery.dataTables.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block main %}
 <h2>Listado de tipos de Vehiculos</h2>
     <a href="{% url 'home' %}">Volver</a>
     <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tipo</th>
            <th scope="col">Precio</th>
            <th class="text-center">Acción</th>
          </tr>
        </thead>
        <tbody>
        {% for type in vehicle_types %}
            <tr>
            <td scope="row">{{ type.id }}</td>
            <td>{{ type.name }}</td>
            <td>${{ type.price }}</td>
            <td><a class="button" href="{% url 'edit_vehicle_type' type.id %}">Editar</a></td>            
          </tr>
        {% endfor %}
        </tbody>
      </table>
{% endblock %}

