{% extends "template.html" %}
{% block titulo %}
    <p>Alta de Vehiculo</p>
{% endblock%}
{% block main %}
    <form method="post" novalidate>
        {% csrf_token %}

        <!-- {{ form.as_div  }} -->
        <div class="form-group">
            {{ form.brand.label_tag }}
            {{ form.brand }}
            <small class="text-danger">{{ form.brand.errors }}</small>
        </div>
        <div class="form-group">
            {{ form.model.label_tag }}
            {{ form.model }}
            <small class="text-danger">{{ form.model.errors }}</small>
        </div>
        <div class="form-group">
            {{ form.year.label_tag }}
            {{ form.year }}
            <small class="text-danger">{{ form.year.errors }}</small>
        </div>
        <div class="form-group">
            {{ form.description.label_tag }}
            {{ form.description }}
            <small class="text-danger">{{ form.description.errors }}</small>
        </div>
        <div class="form-group">
            {{ form.buy_date.label_tag }}
            {{ form.buy_date }}
            <small class="text-danger">{{ form.buy_date.errors }}</small>
        </div>
        <div class="form-group dropdown-menu-xl-right">
            {{ form.vehicle_type.label_tag }}
            {{ form.vehicle_type }}
            <small class="text-danger">{{ form.vehicle_type.errors }}</small>
        </div>
        <button class="btn btn-primary btn-pill mr-2" type="submit">Guardar</button>

    </form>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
{% endblock %}