{% block menu %}
    <nav>
        <ul>
            <li>
                <a class="button" href="{% url 'index' %}">Home</a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a class="button" href="{% url 'create_vehicle_type' %}">Alta Tipo Vehiculo</a>
            </li>
            <li>
                <a class="button" href="{% url 'list_vehicle_type' %}">Lista de Tipos de Vehiculo</a>
            </li>
            <li>
                <a class="button" href="{% url 'create_vehicle' %}">Alta Vehiculo</a>
            </li>
            <li>
                <a class="button" href="{% url 'list_vehicle' %}">Lista de Vehiculos</a>
            </li>
<!--             <li>
                <a class="button" href="{% url 'create_rent' %}">Alta de Alquiler</a>
            </li>
 -->            <li>
                <a class="button" href="{% url 'list_rent' %}">Lista de Alquileres</a>
            </li>
            <li>
                <a class="button" href="{% url 'home' %}">Mi Perfil</a>
            </li>
            {% endif %}
        </ul>
    </nav>
{% endblock  %}