{% extends "template.html" %}
{% load static %}
{% block titulo %}
    Inicio de Sesión
{% endblock%}
{% block extra_files %}
    <script src="{% static 'js/form-validations.js' %}"></script>
{% endblock %}
{% block menu %} {% endblock  %}
{% block main %}
    <form method="post" id="loginForm" novalidate>
        {% csrf_token %}

        <div>
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="username" required><br>
            <span class="error-message" id="usernameError" style="color: red;"></span>
        </div>
        <div>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required><br>
            <span class="error-message" id="passwordError" style="color: red;"></span>
        </div>
        <div>
            <button type="submit">Ingresar</button>
            <a class="button" href="{% url 'signup_customer' %}">Registrarse</a>
        </div>
    </form>
{% endblock %}

