{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_files %} {% endblock %}
    <title>El Chango - Vehiculos de Alquiler- {% block titulo %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' %}">
    <!-- Page plugins css -->
    <link href="{% static 'plugins/clockpicker/dist/jquery-clockpicker.min.css' %}">
    <!-- Color picker plugins css -->
    <link rel="stylesheet" href="{% static 'plugins/jquery-asColorPicker-master/css/asColorPicker.css' %}">
    <!-- Date picker plugins css -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">
    <!-- Daterange picker plugins css -->
    <link rel="stylesheet" href="{% static 'plugins/timepicker/bootstrap-timepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-daterangepicker/daterangepicker.css' %}">
    <link  rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">

</head>
<body>
    <header>
        <h1>El Chango - Vehiculos de Alquiler</h1>
         {% block menu %}
             {% include menu %}
         {% endblock %}
         {% block actions %}
            <div class="actions">
                {% if user.is_authenticated %}<a class="logout button" href="{% url 'logout' %}">Cerrar Sesión</a> {%endif%}
            </div>
         {% endblock %}
         {% block messages %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{message.tags}}" {%endif%}> {{message}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
         {% endblock %}
        {% if error %}
            <p id="pageError" style="color: red;">{{ error }}</p>
        {% endif %}
    </header>
    <main class="centered">
        {% block main %}{% endblock %}
    </main>
    <script src="{% static 'js/commons.js' %}" defer></script>

    <script src="{% static 'plugins/common/common.min.js' %}"></script>
    <script src="{% static 'js/custom.min.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/gleek.js' %}"></script>
    <script src="{% static 'js/styleSwitcher.js' %}"></script>

    <script src="{% static 'plugins/moment/moment.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"></script>
    <!-- Clock Plugin JavaScript -->
    <script src="{% static 'plugins/clockpicker/dist/jquery-clockpicker.min.js' %}"></script>
    <!-- Color Picker Plugin JavaScript -->
    <script src="{% static 'plugins/jquery-asColorPicker-master/libs/jquery-asColor.js' %}"></script>
    <script src="{% static 'plugins/jquery-asColorPicker-master/libs/jquery-asGradient.js' %}"></script>
    <script src="{% static 'plugins/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js' %}"></script>
    <!-- Date Picker Plugin JavaScript -->
    <script src="{% static 'plugins/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <!-- Date range Plugin JavaScript -->
    <script src="{% static 'plugins/timepicker/bootstrap-timepicker.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'js/plugins-init/form-pickers-init.js' %}"></script>

</body>
<footer class="centered">
    {% block footer %}
        <p>L&P 2024 - Todos los derechos reservados</p>
    {% endblock %}
</footer>
</html>