{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_files %} {% endblock %}
    <title>El Chango - Vehiculos de Alquiler- {% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link src="https://fonts.googleapis.com/css?family=Karla:400,700|Roboto" rel="stylesheet">
    <link href="{% static 'plugins/material/css/materialdesignicons.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'plugins/simplebar/simplebar.css' %}" rel="stylesheet"/>
    <link href="{% static 'plugins/nprogress/nprogress.css' %}" rel="stylesheet"/>
    <link href="{% static 'plugins/prism/prism.css' %}" rel="stylesheet"/>
    <link href="{% static 'plugins/select2/css/select2.min.css' %}" rel="stylesheet"/>
    <link id="main-css-href" rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link href="{% static 'images/favicon.png' %}" rel="shortcut icon"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="{% static 'plugins/nprogress/nprogress.js' %}"></script>
</head>
<body id="body" class="bg-light-gray">
    <header>
        {% block menu %}
            {% include menu %}
        {% endblock %}
        {% block actions %}
            <div class="actions">
                {% if user.is_authenticated %}
                    <a class="logout button" href="{% url 'logout' %}">Cerrar Sesión</a> {% endif %}
            </div>
        {% endblock %}
        {% block messages %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endblock %}
        {% if error %}
            <p id="pageError" style="color: red;">{{ error }}</p>
        {% endif %}
    </header>
    <main class="centered">
        {% block main %}{% endblock %}
    </main>
    <script src="{% static 'js/commons.js' %}" defer></script>
    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'plugins/simplebar/simplebar.min.js' %}"></script>
    <script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>
    <script src="{% static 'plugins/prism/prism.js' %}"></script>
    <script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-mask-input/jquery.mask.min.js' %}"></script>
    <script src="{% static 'js/mono.js' %}"></script>
    <script src="{% static 'js/chart.js' %}"></script>
    <script src="{% static 'js/map.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>
<footer class="footer mt-auto justify-content-center">
    {% block footer %}
    {% endblock %}
    <div class="copyright bg-white">
        <p>
            L&P <span id="copy-year"></span> - Todos los derechos reservados
        </p>
    </div>
    <script>
        const year = new Date().getFullYear();
        document.getElementById("copy-year").innerHTML = year;
    </script>
</footer>
</html>