{% extends "template.html" %}
{% load static %}
{% block titulo %}
    <p>Listado de clientes/p>
{% endblock%}
{% block extra_files %}
    <link href="{% static 'plugins/DataTables/DataTables-1.10.18/css/jquery.dataTables.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block main %}
 <h2>Listado de Clientes</h2>
     <a href="{% url 'home' %}">Volver</a>
     <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tipo</th>
            <th scope="col">Nombre</th>
            <th scope="col">DNI / CUIT</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
        {% for person in persons %}
            <tr>
            <td scope="row">{{ person.id }}</td>
            <td class="badge badge-pill badge-primary">Persona</td>
            <td>{{ person.last_name }} {{ person.first_name }}</td> 
            <td>{{ person.person_id }}</td>
            <td><a class="button" href="{% url 'edit_person' person.id %}">Editar</a></td>            
          </tr>
        {% endfor %}
        {% for company in companys %}
            <tr>
            <td scope="row">{{ company.id }}</td>
            <td class="badge badge-pill badge-secondary">Compañia</td>
            <td>{{ company.business_name }}</td> 
            <td>{{ company.business_id }}</td>
            <td><a class="button" href="{% url 'edit_company' company.id %}">Editar</a></td>            
          </tr>
        {% endfor %}
        </tbody>
      </table>
{% endblock %}

