{% block menu %}
    <nav>
        <ul>
            <li>
                <a class="button" href="{% url 'index' %}">Home</a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a class="button" href="{% url 'list_rent' %}">Mis Alquileres</a>
            </li>
            <li>
                <a class="button" href="{% url 'create_rent' %}">Nuevo Alquiler</a>
            </li>
            <li>
                <a class="button" href="{% url 'home' %}">Mi Perfil</a>
            </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}