{% extends "template.html" %}
{% load static %}
{% block titulo %}
    Pedido de Reinicio de Contraseña
{% endblock %}
{% block menu %} {% endblock %}
{% block extra_files %}
{% endblock %}
{% block page-home %}
    <div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh">
        <div class="d-flex flex-column justify-content-between">
            <div class="row justify-content-center mt-5">
                <div class="col-md-10">
                    <div class="card card-default">
                        <div class="card-header">
                            <div class="app-brand w-100 d-flex justify-content-center border-bottom-0">
                                <a class="w-auto pl-0" href="{% url 'home' %}">
                                    <img src="{% static 'images/logo-xs.png' %}" alt="Changos">
                                    <span class="brand-name text-dark">Changos Rent</span>
                                </a>
                            </div>
                        </div>
                        <div class="card-body p-5">
                            <h4 class="text-dark mb-5">Reiniciar tu Contraseña</h4>
                              <form id="resetPasswordForm" method="post" novalidate>
                                {% csrf_token %}
                                <div class="row">
                                    <div class="form-group col-md-12 mb-4">
                                        <input type="email" class="form-control input-lg" id="email" name="email"
                                               aria-describedby="nameHelp" placeholder="Email">
                                    </div>
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary btn-pill mb-4">Reiniciar</button>
                                        <p>Ya tenés tu cuenta?
                                            <a class="text-blue" href="{% url 'login' %}">Iniciar Sesión</a>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


